<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Criar Conta</title>
    </head>
    <body>
        <h1>Página de Cadastro</h1>
        <hr>
        <form action="conta_criada" method="POST">
            <table>
                <tr>
                    <td>CPF/CNPJ</td>
                    <td><input type="text" name="usuario"></td>
                </tr>
                <tr>
                    <td>Senha</td>
                    <td><input type="password" name="senha"></td>
                </tr>
                <tr>
                    <td>Nome</td>
                    <td><input type="text" name="nome"></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>Renda Mensal</td>
                    <td><input type="text" name="renda"></td>
                </tr>
            </table><br>
            <input type="submit" value="Cadastrar">
        </form>
    </body>
</html>