<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Perfil</title>
  </head>
  <body>
    <a href="menu">Voltar     </a>
    <h1>Perfil</h1>
    <br><br>
    <p>Nome de preferência:     {{ nome }}</p>
    <br>
    <p>E-mail:     {{ email }}</p>
    <br>
    <p>Renda Mensal:     {{ renda }}</p>
    <form action="config_renda" method="POST">
            <table>
                <tr>
                    <td>Atualizar Renda Mensal</td>
                    <td><input type="text" name="renda"></td>
            </table>
            <input type="submit" value="Alterar">
        </form>
  </body>
</html>